<div class="article-section-content-wrap">
  <div>
  {% if section.settings.quote == blank %}
    Enter text...
  {% else %}
    {{ section.settings.quote }}
  {% endif %}
</div>
</div>

{% schema %}
{
  "name": "Quote",
  "tag": "section",
  "class": "article-section article-section-quote",
  "settings":[{
    "id":"quote",
    "label": "Quote",
    "type": "textarea"
  }],
  "presets": [
    {
      "name": "Quote"
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}