<div class="article-section-content-wrap">
  {% if section.settings.text == blank %}
    Enter text...
  {% else %}
    {{ section.settings.text | newline_to_br }}
{% endif %}
</div>

{% schema %}
{
  "name": "Text",
  "tag": "section",
  "class": "article-section article-section-text",
  "settings":[{
    "id":"text",
    "label": "Text",
    "type": "textarea"
  }],
  "presets": [
    {
      "name": "Text"
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}