<div>text</div>
{% schema %}
{
  "name": "Text",
  "tag": "section",
  "class": "section",
  "settings":[{
    "id":"text",
    "label": "Text",
    "type": "textarea"
  }],
  "presets": [
    {
      "name": "Text"
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}