{% style %}
.search-empty{
  
  margin: var(--outer-margin);
  text-align:center;
}
{% endstyle %}

{% assign limit = 10 %}

{% if search.results.size > 0 %}
  {% paginate search.results by limit %}
  {% render 'product-grid', products: search.results %}
  
  {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
{% else %}
  <div class="search-empty">
    No products found
  </div>
{% endif %}