{{ 'section-ddp-banner.css' | asset_url | stylesheet_tag }}

{% assign is_home = false %}
{% assign is_ddp_enabled = false %}
{% capture ddp_settings_key %}ddp_{{ localization.country.iso_code }}{% endcapture %}

{% if request.path == '/' %} {% assign is_home = true %}{% endif %}

<div id="ddp-banner">  
  {{ settings.ddp_text }}
  {{ settings['ddp_SE'] }}
</div>

{% javascript %}

  function initBanner(){
    
    
  }

  document.addEventListener("DOMContentLoaded", initBanner);
  document.addEventListener("shopify:section:load", initBanner);

{% endjavascript %}