{{ 'section-ddp-banner.css' | asset_url | stylesheet_tag }}

{% assign is_home = false %}
{% assign is_ddp_enabled = false %}
{% capture ddp_settings_key %}ddp_{{ localization.country.iso_code }}{% endcapture %}
{% if settings[ddp_settings_key] %}{% assign is_ddp_enabled = true %}{% endif %}
{% if request.path == '/' %} {% assign is_home = true %}{% endif %}

{% if is_ddp_enabled %}
  <div id="ddp-banner">
    {{ settings.ddp_text }}
  </div>
{% endif %}

{% javascript %}

  function initBanner(){
    
    
  }

  document.addEventListener("DOMContentLoaded", initBanner);
  document.addEventListener("shopify:section:load", initBanner);

{% endjavascript %}