{{ 'section-ddp-banner.css' | asset_url | stylesheet_tag }}

{% assign is_home = false %}

{% if request.path == '/' %} {% assign is_home = true %}{% endif %}

<div id="ddp-banner" class="{%if opaque_menu == true %}menu-opaque{% endif %} {%if borderless_menu == true %}menu-home{% endif %}">  

</div>

{% javascript %}

  function initBanner(){
    
    
  }

  document.addEventListener("DOMContentLoaded", initBanner);
  document.addEventListener("shopify:section:load", initBanner);

{% endjavascript %}