:root {
  --small-font: 10px;
  --medium-font: 11px;
  --big-font: 13px;
  --line: 0.8px solid #000;
  --background-color: #F8F7F0;
  --outer-margin: 2rem;
  --margin: 5rem;
  --small-margin: 3rem;
  --navbar-logo-size: 24px;
  --navbar-height: calc((var(--outer-margin) * 2 ) +  var(--navbar-logo-size));
  --content-margin: calc( var(--navbar-height));
}

@media screen and (min-width: 750px) {
  :root {
    --small-font: 11px;
    --medium-font: 12px;
    --big-font: 16px;
    --navbar-logo-size: 38px;
    --outer-margin: 2.5rem;
    --small-margin: 4.5rem;
    --margin: 7rem;
    --navbar-height: calc((var(--outer-margin) * 2 ) + var(--navbar-logo-size));
    --content-margin: calc(var(--navbar-height)); 
  }
}

html {
  font-size: 62.5%; }
body {
  font-size: var(--medium-font); /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.3;
  font-weight: 400;
  font-family: "Bembo Book", serif;
  background-color: #F8F7F0;
  color: #222;
}

body {
  width: 100%; 
  margin: 0 auto;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; 
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ol{
  margin-bottom: 1rem; }

ul, li {
  margin:0;
  padding:0;
}

a, a:hover, a:visited{
  text-decoration: none;
  color: #000;
}

input{ 
  outline:none;
  background-color: transparent;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: "Mars Extended Web Regular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
h1 {  line-height: 1.3;  letter-spacing: .1rem; font-size: var(--big-font)}
h2 { line-height: 1.3; letter-spacing: .1rem; font-size: var(--medium-font)}
h3 {  line-height: 1.4;  letter-spacing: .1rem; font-size: var(--small-font)}
h4 {  line-height: 1.45; letter-spacing: .1rem; font-size: var(--small-font)}
h5 {  line-height: 1.6;  letter-spacing: .1rem; font-size: var(--small-font)}
h6 {  line-height: 1.7;  letter-spacing: 0; }
p+h4, p+h1, p+h2, p+h3, p+h4, p+h5, p+h6{
  margin-top:2rem;
}

button, input{
  appearance: none;
  border-radius: 0px;
  background-color: transparent;
  border: var(--line);
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-height: 30px;
  font-size: 15px;
}
button{
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}
button.button-capitalized{
  padding-top:8px;
}
input{
  text-transform: normal;
}
input[type=number]{
  padding: 2px;
  text-align: center;
}

.fadein{
  transition: opacity 1s ease;
  opacity: 1;
}
.fadeout{
  transition: opacity 1s ease !important;
  opacity: 0 !important;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@media only screen and (max-width: 749px) {
  
}

@media only screen and (min-width: 750px) {
  
}


.shopify-challenge__container{
  margin-bottom: var(--outer-margin); 
  min-height: 50vh;
}
.shopify-challenge__button{
  margin-top: var(--outer-margin) !important; 
}


.page {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.page-content {
  max-width: 1000px;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  text-transform: uppercase;
  font-weight: normal;
}
@media screen and (max-width: 749px) {
  .page {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }
}

@media screen and (min-width: 750px) {
  .page {
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin) * 2);
  }
}