:root {
  --small-font: 10px;
  --medium-font: 11px;
  --big-font: 13px;
  --line-width: 0.5px;
  --line: 0.5px solid #000;
  --background-color: #F8F7F0;
  --outer-margin: 2rem;
  --margin: 5rem;
  --small-margin: 3rem;
  --navbar-logo-size: 24px;
  --navbar-height: calc((var(--outer-margin) * 2) + var(--navbar-logo-size));
  --content-margin: calc(var(--navbar-height));
  --max-content-width: 100%;
}

@media screen and (min-width: 750px) {
  :root {
    --small-font: 11px;
    --medium-font: 12px;
    --big-font: 16px;
    --navbar-logo-size: 38px;
    --outer-margin: 2.5rem;
    --small-margin: 4.5rem;
    --margin: 7rem;
    --navbar-height: calc((var(--outer-margin) * 2) + var(--navbar-logo-size));
    --content-margin: calc(var(--navbar-height));
    --max-content-width: 700px;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--medium-font);
  line-height: 1.3;
  font-weight: 400;
  font-family: "Bembo Book", serif;
  background-color: #F8F7F0;
  color: #222;
}

body {
  width: 100%;
  margin: 0 auto;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ol {
  margin-bottom: 1rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

input {
  outline: none;
  background-color: transparent;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: "Mars Extended Regular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h1 {
  line-height: 1.3;
  letter-spacing: .1rem;
  font-size: var(--big-font)
}

h2 {
  line-height: 1.3;
  letter-spacing: .1rem;
  font-size: var(--medium-font)
}

h3 {
  line-height: 1.4;
  letter-spacing: .1rem;
  font-size: var(--small-font)
}

h4 {
  line-height: 1.45;
  letter-spacing: .1rem;
  font-size: var(--small-font)
}

h5 {
  line-height: 1.6;
  letter-spacing: .1rem;
  font-size: var(--small-font)
}

h6 {
  line-height: 1.7;
  letter-spacing: 0;
}

p+h4,
p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6 {
  margin-top: 2rem;
}

button,
select,
.btn,
input:not([type='checkbox']) {
  appearance: none;
  border-radius: 0px;
  background-color: transparent;
  border: var(--line);
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-height: 30px;
  font-size: 15px;
}

select {
  min-height: 40px;
}

button {
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}

button.button-capitalized,
input[type='submit'].button-capitalized {
  padding-top: 8px;
}

input {
  text-transform: normal;
}

input[type=number] {
  padding: 0px;
  text-align: center;
}

input[type='checkbox'] {
  background-color: transparent;
}

.fadein {
  transition: opacity 1s ease;
  opacity: 1;
}

.fadeout {
  transition: opacity 1s ease !important;
  opacity: 0 !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 749px) {}

@media only screen and (min-width: 750px) {}


.shopify-challenge__container {
  margin-bottom: var(--outer-margin);
  min-height: 50vh;
}

.shopify-challenge__button {
  margin-top: var(--outer-margin) !important;
}

.page {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.page-content {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
}

.page.cart-page>.page-content {
  max-width: 1000px;
}


.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  text-transform: uppercase;
  font-weight: normal;
}

@media screen and (max-width: 749px) {
  .page {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }
}

@media screen and (min-width: 750px) {
  .page {
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin) * 2);
  }
}

main div {
  position: relative;
}

.text-center {
  text-align: center;
}

#omgrfq_button_action {
  margin-top: var(--navbar-height);
}

#omgrfq_button_action button {
  color: #000;
  background-color: #fff;
}

#submitOMGRFQForm {
  margin-left: 24px !important;
}

#close_omgrfq_popup {
  background-color: #fff;
}

.bacurr-cur-bloc {}

@media (max-width: 768px) {

  .baDropdownStyle,
  .bacurr-cur-bloc {
    z-index: 99 !important;
  }
}

.baDropdownStyle {
  z-index: 99 !important;
}

.hide {
  display: none !important;
}

.paginate {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  list-style: none;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: var(--outer-margin);
  padding-bottom: var(--outer-margin);

}

.paginate-empty {
  max-height: 0px;
  display: none;

}

.paginate li {
  display: inline-block;
  font-weight: bold;
  margin-left: 1rem;
}

.paginate-current {
  font-weight: normal !important;
}