.product-grid {
  width: auto;
}

.product-grid-search {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);

}

.product-grid-search-form{
  display: flex;
  flex: 0 0 100%;
  margin: 0;
}
.product-grid-search-pad-left{
  flex: 0 0 66%;
}
.product-grid-search-input {
  margin-left: var(--outer-margin);
  margin-bottom: calc(var(--outer-margin) /2 );
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #000 !important;
  background-color: transparent !important;
  padding: 0 !important;
  
  height: 2rem !important;
}

.product-grid-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #000;
 
}

.product-grid-item-wrap{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
  padding: calc((var(--outer-margin) / 2) - 2px);
  padding-bottom: var(--outer-margin);
  opacity: 0;
  animation: fadein 1s ease forwards;
  
}

.product-grid-item {
  display: flex;
  flex-direction: column;
}

.product-grid-item-image {
  max-width: 100%;
  border: 1px solid #000;
}

.product-grid-caption {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-grid-caption-title {
  flex: 1 1 auto;
}

.product-grid-caption-price {
  flex: 1 1 auto;
  text-align: right;
}

.product-grid-bottom-line{
  display: block;
  width: 100%;
  min-height: 1px;
  max-height: 1px;
  margin-top:-1px;
  background-color: #000;
}

@media only screen and (max-width: 749px) {
  .product-grid-item-wrap {
    flex: 0 0 calc(50% - var(--outer-margin) + 3px);
    border-bottom: 1px solid #000;
  }
  .product-grid-item-wrap:nth-child(2n){
    border-right: 0px;
  }
  .product-grid-list{
    
  }
  .product-grid-search{
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  
  .product-grid-item-wrap {
    flex: 0 0 calc(33.333333% - var(--outer-margin) + 3px);
  }
  .product-grid-item-wrap:nth-child(3n){
    border-right: 0px solid #000;
  }
  .product-grid-item-wrap:nth-child(-n+3){
    border-top: 0px solid #000;
  }
  .product-grid-item-wrap{
    border-bottom: 1px solid #000;  
  }
  
  
}