.collage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin-top: calc(var(--margin) * 2);
  margin-bottom: calc(var(--margin) * 2);
  overflow: hidden;
  justify-content: flex-start;
  width: calc(100% - calc(var(--outer-margin) / 1));
  margin-left: calc(var(--outer-margin) / 2);
  
}

.collage-block{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  border: calc(var(--outer-margin) /2) solid transparent;
  
 
}
.collage-block a {
  display:flex;
  flex-direction:column;      
}
.collage-block picture{
  display: flex;
  align-items: flex-start;
}
.collage-block:hover > a > .collage-block-caption {
  visibility: visible;
}
.collage-block-caption{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.collage-block-caption-title{
  flex: 1 1 auto;
}
.collage-block-caption-price{
  flex: 0 0 100px;
  text-align: right;
}

@media only screen and (max-width: 749px) {
  .collage {
    flex-direction: column;
  }
  .collage-block{
    margin: 0 !important;
    margin-bottom: var(--outer-margin) !important;
    flex: 1 1 auto !important;
  }
  .collage-block:last-child{
    margin-bottom: 0 !important;
  }

  .collage picture img {
    max-width: 100% !important;
    object-fit: contain;
    margin: 0 !important;
  }
}

@media only screen and (min-width: 750px) {
  .collage {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .collage-block-caption{
    visibility: hidden;
  }
  .collage picture img {
    max-width: 100%;
    object-fit: contain;
  }
  .collage-block{
    
  }
}
