.product{
  display: flex;
  flex-direction: column;
  
}
.product-wrap{
  display: flex;
  width: 100%;
  border-top: 1px solid #000;
}
.product-details-wrap{
  display: flex;  
  width: 50%;
  flex: 0 0 50%; 
}
.product-details{
  display: flex;  
  justify-content: center;
  flex: 0 0 100%;
}

.product-details > *{
  margin-top: var(--margin);
}
.product-attributes{
  display: flex; 
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.product-attributes-header{
  text-align: center;
  padding: var(--outer-margin);
}

.product-attributes-row{
  display: flex; 
  flex-direction: row;
  border-top: 1px solid #000;
  padding: var(--outer-margin);
}

.product-attributes-key{
  flex: 1 1 auto;
}
.product-attributes-value{
  flex: 0 1;
  text-align: right;
  white-space: pre;
}
.product-description{
  text-align: center  ;
  margin-top: var(--margin);
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
}
.product-description p:last-child {
  margin-bottom: 0 !important;
}
.product-variants{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.product-variants > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  max-width: 44px;
  max-height: 44px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  margin: 3px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.product-variants > li[selected]{
  
  border: 1px solid #000;
}
.product-variants > li[disabled]{
  color:rgb(182, 182, 182);
}

.product-variants-item{
  
}

.product-variants-select{
  display: none;
}

.product-form-buttons{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: var(--margin);
}
.product-form-buttons button{
  border: 0px;
  border-radius: 0px;
  margin: 0;
  width: 100%;
  
}
.product-form-submit{
  background-color: transparent;
  border-bottom: 1px solid #000 !important;
}
.product-form-view-cart{
  background-color: #fff;
  color: #000;
}

.product-gallery{
  background-color: #fff;
  max-width: 100;
}

.product-gallery-image{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

}

.swiper-wrapper{
  line-height: 0 !important;
}
.swiper-pagination-bullet{
  background-color: transparent !important;
  border: 2px solid #000;
}
.swiper-pagination-bullet-active{
  background-color: #000 !important;
}

.product-sizes{
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--margin);
}
.product-sizes{
  overflow-x: auto;
  scrollbar-width: 5px;
}
.product-sizes::-webkit-scrollbar { 
  display: none; 
}
.product-sizes-header{
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.product-sizes > table{
  margin:0 !important;
  width: auto !important;
}
.product-sizes tr:first-child > td {
  font-weight: bold;
}
.product-sizes * > td {
  border:0;
  white-space: pre;
  width: auto !important;
  height: auto !important;
  line-height: 0 !important;
  vertical-align: bottom !important;
}
.product-sizes * > td > p{
  margin: 0 !important;
}

@media screen and (min-width: 750px) {
  .product{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .product-details, .product-gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-gallery {
    flex: 0 0 50%;
    min-width: 50%;
  }
  .product-details{
    align-items: center;
    border-right: 1px solid #000;
    margin-left: -1px;
    flex: 0 0 100%;
    min-width: 100%;
  }
  .product-sizes{
    padding-top: var(--margin);
    border-top: 1px solid #000;
    align-items: center;
  }
  .product-sizes * > td {
    padding: 2.5rem !important;
  }
  .product-attributes{
    border: 1px solid #000;
    min-width: 60%;
    max-width: 400px;
  }
  .product-variants{
    margin-bottom: 0;
  }
  
  .product-gallery-image{
    min-height: calc(100vh - var(--navbar-height));
    max-height: calc(100vh - var(--navbar-height));
  }
}

@media screen and (max-width: 749px) {
  .product-wrap{
    flex-direction: column-reverse;
  }

  .product-details-wrap{
    flex: 0 0 100%;
    width: 100%;
  }
  .product-details{
    flex-direction: column;
  }
  .product-attributes {
    margin-top: 0 !important;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }
  .product-sizes{
    align-items: flex-start;
  }
  .product-sizes * > td {
    padding: 1.5rem !important;
  }
  .product-gallery{
    
  }
  .product-gallery-image{
    max-height: 50vh;
    object-fit: cover;
  }
  .product-variants{
    margin-bottom: 0;
  }
  .product-form-buttons{
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);
    width: auto;
  }
}



