.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
  margin-top: -1px;
  
}

.footer>section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
  
  text-align: center;
  width: 100%;
}
.footer-header, .footer-about, .footer-links, .footer-newsletter-signup, .footer-copyright{
  font-family: "Mars Extended";
}

.footer>section:last-child {
  border-bottom: 0px;
}

.footer-about {
  text-align: center;
  padding-top: var(--margin);
  padding-bottom: var(--margin);
  
}

.footer-header {
  font-weight: bold;
  
}

.footer-logo {
  padding-top: var(--margin);
  padding-bottom: var(--margin);
}
.footer-logo, .footer-text{
  margin-left: var(--margin);
  margin-right: var(--margin);
  width: auto;
  max-height: 300px;
}
.footer-text-wrap{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  
}
.footer-text {
   max-width: 800px;
   
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  padding-top: var(--margin) !important;
  padding-bottom: var(--margin) !important;
}

.footer-newsletter-signup {
  font-weight: bold;
  text-transform: uppercase;
}
.footer-newsletter > form{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  min-height: 300px;
}
.footer-newsletter-email {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  white-space: pre;
  border-bottom: 1px solid #000;
  margin-bottom: var(--margin);
  margin-left: var(--margin);
  margin-right: var(--margin);
  padding-bottom: 0.5rem;
}

.footer-newsletter-email label {
  flex: 0 0;
  margin-right: 0.5rem;
  
}

.footer-newsletter-circle {
  position: absolute;
  z-index: 1;
  top:0.5rem;
  right:0;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border: 1px solid #000;
  border-radius: .75rem;
  
}
.footer-newsletter-email > input {
  appearance: none;
  background-color: transparent;
  color: #000;
  border: 0px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  flex: 1 1 100%;
  padding-bottom: 0;
  line-height: 1;
  border: 0 !important;
}

.footer-newsletter-email > input:focus {
  outline: none !important;
}

.footer-newsletter-button {
  
  min-width: 300px;
  display: inline-block;


}

.footer-links {
  text-transform: uppercase;
  padding: 0 !important;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  padding-top: var(--outer-margin);
  padding-bottom: var(--outer-margin);
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}

.footer-links ul li:last-child {
  
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding-top: calc(var(--margin) * 2) !important;
  padding-bottom: var(--outer-margin) !important;
}

@media screen and (max-width: 749px) {
  .footer-links{
    border-bottom: 0 !important;
  }
}
@media screen and (min-width: 750px) {
  .footer{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-about{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    margin-left: -1px;
    
    border-right: 1px solid #000; 
    
    padding-bottom: var(--outer-margin) !important;
    padding-top: var(--outer-margin) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .footer-line{
    display: block;
  }
  .footer-header{
    flex: 0 0 10%;
  }
  .footer-logo {
    flex: 1 1 70%;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    
  }
  .footer-logo, .footer-text{
    max-height: 300px;
  }
  .footer-text-wrap{
    flex: 0 0 20%;
    align-items:center;
    
  }
  .footer-newsletter{
    
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50%);
    justify-content: space-between;
    padding-bottom: var(--outer-margin) !important;
    padding-top: var(--outer-margin) !important;
    
  }
  .footer-newsletter-signup{
    flex: 0 0 10%;
  }
  .footer-newsletter-email-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 70%;
    padding: var(--margin);
    
  }
  .footer-newsletter-email{
    width: 100%;
    margin-left: calc(var(--margin) * 1);
    margin-right: calc(var(--margin) * 1);
    
  }

  .footer-newsletter-button-wrap {
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
  }
  .footer-newsletter-button {
    width: auto;
    margin-left: var(--margin);
    margin-right: var(--margin);
  
    display: inline-block;
    
  }

  .footer-links ul{
    display: flex;
    flex-direction: row !important;
    flex: 0 0 100%;
  }
  .footer-links ul li{
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    flex: 1 1 25%;
    margin:0;
    border-bottom: 0px;
    border-right: 1px solid #000;
  }
  .footer-links ul li:last-child{
    border-right: 1px solid transparent;    
  }
  
}
