.customer-page{
  text-align: center;
  margin-bottom: 0;

}
#login-page{

}
#login-page-form-wrap{
  display: flex;
  flex-direction: column;
  width: 200px;
}
#login-page-form-wrap form{
  display: flex;
  flex-direction: column;
}

#CustomerLoginFormWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.form-vertical {
  display: flex;
  flex-direction: column;
  width: 33%;
  
}
@media screen and (max-width: 749px) {
  .form-vertical{
    width: 80%;
  }
}

.form-vertical form{
  display: flex;
  flex-direction: column;
  
}
.form-vertical form * > input[type='submit']{
  width: 50%;
}
.input-wrap{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: var(--line);
  margin-bottom: var(--small-margin);
}
.input-wrap > input{
  background-color: transparent !important;
  border:0;
  width: 100%;
  margin: 0;
  padding-left: 0;
  
}
.input-wrap > input:-webkit-autofill,
.input-wrap > input:-webkit-autofill:hover,
.input-wrap > input:-webkit-autofill:focus,
.input-wrap > input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.input-wrap > input::placeholder{
  color:#000;
}
.input-wrap > label{
  display: none; 
}

.customer-heading{
  width:100%;
  padding-bottom: 10px;
  border-bottom: var(--line);
}

#LoginHeading {
  
}

.form-message {}

.form-message--error {}

#CustomerEmail {}

#CustomerPassword {}

#RecoverPassword {}


#RecoverPasswordForm {}

#RecoverEmail {}

#RecoverEmail-email-error {}

#HideRecoverPasswordLink {}


#reset-password-page{

}
#reset-password-page-wrap{
  display: flex;
  flex-direction: column;
  width: 200px;
}

#register-form-wrap{
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
#account-page{
  display: flex;
  flex-direction: column;
}

.form-message--error{
  color:red;
}
.input--error{
  border: 1px solid red;
}
.input-error-message{
  color:red;
}
.hide {
  display: none !important;
}

.form-vertical form{
  display: flex;
  flex-direction: column;
}

.form-message {}

.form-message--success {}

#account-page section{  
  margin-bottom: var(--margin);
}

.account-order-history{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.account-order-table{
  width: 80%;
  max-width: 700px;
}

.account-order-table > thead > tr {
  text-align: left;
  font-weight: bold;
}
.account-order-table > tbody > tr {
  text-align: left;
}


@media screen and (max-width: 749px) {
  .account-order-table > tbody > tr > td:first-child > a {
    display: block;
    max-width: 130px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .account-order-table{
    width: 90%;
  }
}