.blog {}

.blog-header {
  font-family: Vogue;
  font-size: 10rem;
  text-align: center;
}

.blog-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-post-item {
  flex: 0 0 50%;
  background-color: pink;
}

.blog-post-wrap {
  padding: 1rem;
}

.blog-post-wrap:nth-child(even) {
  border-right: var(--line);
}

@media only screen and (max-width: 749px) {}

@media only screen and (min-width: 750px) {}