#shopify-section-main-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  overflow-y: auto;
  scrollbar-width: none;
  transition: max-height 0.2s ease-in-out;
  font-family: "Mars Extended Regular";
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

#menu::-webkit-scrollbar {
  display: none;
}

#menu.menu-active {
  background-color: var(--background-color);
  max-height: 100vh;
  height: 100vh;
}

#menu.menu-opaque {
  background-color: var(--background-color) !important;
  border-bottom: var(--line);
}

#menu.menu-home {
  border-bottom: 0px;
}

#menu.menu-active>nav {
  max-height: calc(100vh - var(--navbar-height));
  min-height: calc(100vh - var(--navbar-height));
  overflow: unset !important;
}

#menu.menu-hidden {
  opacity: 0;
}

#menu.menu-show {
  transition: opacity 1s ease;
  transition-delay: 1s;
  opacity: 1;
}

#menu *>li {
  margin: 0
}

#menu *>h2 {
  margin-bottom: 0;
}

#menu-toggle {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  height: var(--navbar-logo-size);
  width: var(--navbar-logo-size);
  min-height: var(--navbar-logo-size);
  min-width: var(--navbar-logo-size);
  max-height: var(--navbar-logo-size);
  max-width: var(--navbar-logo-size);
  padding: var(--outer-margin);
  cursor: pointer;
  transform: rotate(45deg) scale(0.5);
  transition: transform .3s ease;
}

.menu--toggle-active {
  transform: rotate(90deg) scale(0.5) !important;
}

.cartlink {
  position: absolute;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 43px;
  top: 0;
  left: 0;
  height: var(--navbar-height);
}

.cartlink.home {
  opacity: 0;
}

.cartlink.home-visible {
  opacity: 1;
}

.cartlink a {
  font-family: "Bembo Book" !important;
}

.country-selector {
  display: flex;
  align-items: center;
  height: var(--navbar-height);

}

.country-selector select {
  font-family: "Bembo Book" !important;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  outline: none;
}

.logo {
  display: flex;
  height: var(--navbar-height);
  width: var(--navbar-height);
  align-items: center;
  justify-content: center;
  flex: 0 0 var(--navbar-height);
}

.logo * {
  width: var(--navbar-logo-size);
  height: var(--navbar-logo-size);
  line-height: 0;
}

#nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
  text-transform: uppercase;
  max-height: 0px;
  overflow: hidden;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(var(--outer-margin) *-1);
  width: 100%;
  flex: 1 1 auto;
}

.navbar,
.navbar-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  margin-bottom: 0;

}

.navbar {
  height: auto;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.navbar a,
.navbar-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  width: 100%;
  padding-top: var(--outer-margin);
  padding-bottom: var(--outer-margin);
  flex: 1 1 auto;
}

.navbar a {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  flex: 1 1 auto;

}

.navbar-footer {
  border-top: var(--line);
  font-family: "Bembo Book";
  font-size: var(--medium-font);
}

@media screen and (max-width: 749px) {
  #menu {}

  .menu-active {
    height: 100vh;
  }

  #nav {
    height: 100%;
  }

  .navbar a:first-child {
    padding-top: 0;
  }

  .navbar-footer {
    padding-top: var(--outer-margin);
    padding-bottom: var(--outer-margin);

  }

  .cartlink {
    margin-left: var(--outer-margin) !important;
  }

}

@media screen and (min-width: 750px) {
  .navbar-footer {
    flex-direction: row;
    border-bottom: var(--line);

  }

  .navbar {}

  .navbar a {
    width: auto;
  }

  .navbar-footer a {
    display: flex;
    align-items: center;

    flex: 1 1 auto;

  }

  .navbar-footer>a:first-child {
    align-items: flex-start;
  }

  .navbar-footer>a:last-child {
    align-items: flex-end;
  }

  .navbar-footer a li {
    width: 100%;
    text-align: center;
  }

  .navbar-footer {
    margin-top: 0;
    margin-bottom: 0;
  }

}