.footer {
  display: flex;
  flex-direction: column;
  border-top: var(--line);
  margin-top: -0.8px;

}

.footer *>h2 {
  margin-bottom: 0;
}

.footer>section {
  display: flex;
  flex-direction: column;
  border-bottom: var(--line);
  padding-top: var(--margin);
  padding-bottom: var(--margin);

  text-align: center;
  width: 100%;
}

.footer-header,
.footer-links,
.footer-newsletter-signup,
.footer-copyright {
  font-family: "Mars Extended Regular";
}

.footer>section:last-child {
  border-bottom: 0px;
}

.footer-about {
  text-align: center;
}

.footer-header {}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  line-height: 0;
}

.footer-logo {
  height: calc(100% - calc(var(--outer-margin) * 2));
}

.footer-logo,
.footer-text {
  margin-left: var(--margin);
  margin-right: var(--margin);
  width: auto;
  font-size: var(--medium-font)
}

.footer-text-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

}

.footer-text {
  max-width: 800px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
}

.footer-newsletter-signup {
  text-transform: uppercase;
}

.footer-newsletter>form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;

}

.footer-newsletter-email {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  white-space: pre;
  border-bottom: var(--line);
  margin-bottom: var(--margin);
  margin-left: var(--margin);
  margin-right: var(--margin);
  padding-bottom: 0.5rem;
}

.footer-newsletter-email label {
  flex: 0 0;
  margin-right: 0.5rem;

}

.footer-newsletter-circle {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border: var(--line);
  border-radius: .75rem;

}

.footer-newsletter-email>input {
  appearance: none;
  background-color: transparent;
  color: #000;
  border: 0px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  flex: 1 1 100%;
  padding-bottom: 0;
  line-height: 1;
  border: 0 !important;
}

.footer-newsletter-email>input:focus {
  outline: none !important;
}

.footer-newsletter-button {

  min-width: 300px;
  display: inline-block;


}

.footer-links {
  text-transform: uppercase;
  padding: 0 !important;
  font-family: "Bembo Book";
  font-size: var(--medium-font);
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--outer-margin);
  padding-bottom: var(--outer-margin);
  border-bottom: var(--line);
  margin-bottom: 0;
}

.footer-links ul li:last-child {}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;

}

@media screen and (max-width: 749px) {
  .footer>section {
    padding-top: var(--small-margin);
    padding-bottom: var(--small-margin);
  }

  .footer-logo-wrap {
    justify-content: center;
    padding-top: var(--small-margin);
    padding-bottom: var(--small-margin);
  }

  .footer-logo {
    max-height: 200px;
  }

  .footer-newsletter {}

  .footer-newsletter-email {
    margin: var(--small-margin);
    margin-top: var(--margin);
  }

  .footer-newsletter-button-wrap {
    margin-bottom: var(--margin);
  }

  .footer-newsletter-button {
    width: 50%;

  }

  .footer-links {
    border-bottom: 0 !important;
  }

  .footer-links ul li {
    padding-top: var(--small-margin);
    padding-bottom: var(--small-margin);

  }

  .footer-copyright {
    margin-top: var(--margin);
    margin-bottom: var(--margin);

  }
}

@media screen and (min-width: 750px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-about {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    margin-left: -1px;
    border-right: var(--line);
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      .footer-about {
        margin-left: -0.5px;
      }
    }
  }

  .footer-line {
    display: block;
  }

  .footer-about,
  .footer-newsletter {
    min-height: 600px;
  }

  .footer-header,
  .footer-newsletter-signup {
    flex: 0 0 10%;
  }

  .footer-logo-wrap,
  .footer-newsletter>form {
    justify-content: center;
    flex: 1 1 auto;
  }

  .footer-text-wrap,
  .footer-newsletter-button-wrap {
    align-items: center;
    flex: 0 1 60px;
  }

  .footer-text {
    max-width: 600px;
  }

  .footer-logo {
    max-height: 300px;
  }

  .footer-newsletter {

    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50%);
    justify-content: space-between;

  }

  .footer-newsletter>form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .footer-newsletter-email-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer-newsletter-email {
    width: 100%;
    margin-left: calc(var(--margin) * 1);
    margin-right: calc(var(--margin) * 1);

  }

  .footer-newsletter-button-wrap {
    display: flex;
    justify-content: center;
  }

  .footer-newsletter-button {
    width: auto;
    margin-left: var(--margin);
    margin-right: var(--margin);
    display: inline-block;
  }

  .footer-links ul {
    display: flex;
    flex-direction: row !important;
    flex: 0 0 100%;
  }

  .footer-links ul li {
    padding-top: calc(var(--outer-margin) * 2);
    padding-bottom: calc(var(--outer-margin) * 2);
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    border-bottom: 0px;
    border-right: var(--line);
  }

  .footer-links ul li:last-child {
    border-right: 1px solid transparent;
  }

  .shopify-section-footer {
    margin-top: 0.5px;
  }


}