.blog {}

.blog-header {
  font-family: Vogue;
  font-size: 10rem;
  text-align: center;
}

.blog-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-posts-item {
  flex: 0 0 50%;
  background-color: pink;
}


@media only screen and (max-width: 749px) {}

@media only screen and (min-width: 750px) {}