#ddp-banner {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: var(--background-color);
  color: black;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: var(--line);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.ddp-show {
  transform: translateY(0%) !important;
}

.ddp-hide {
  transform: translateY(-100%) !important;
}

.ddp-text {
  flex: 1 1 auto;
}

.ddp-close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 0 0;
  cursor: pointer;
}