.product{
  display: flex;
  flex-direction: column;
}
.product-wrap{
  display: flex;
  width: 100%;
  border-top: var(--line);
}
.product-details-wrap{
  display: flex;  
  width: 50%;
  flex: 0 0 50%; 
}
.product-details{
  display: flex;  
  justify-content: center;
  flex: 0 0 100%;
}

.product-details > *{
  margin-top: var(--margin);
}
.product-attributes{
  display: flex; 
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Mars Extended Web Regular";
  font-size: var(--medium-font);
}
.product-details * >h2{
  margin:0;
  
}
.product-attributes-header{
  text-align: center;
  padding: var(--outer-margin);
  
}

.product-attributes-row{
  display: flex; 
  flex-direction: row;
  border-top: var(--line);
  padding: var(--outer-margin);
  line-height: 1;
}

.product-attributes-key{
  flex: 1 1 auto;
}
.product-attributes-value{
  flex: 0 1;
  text-align: right;
  white-space: pre;
  font-family: 'Bembo Book';
  
}
.product-info{
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.product-description{
  font-size: var(--medium-font);
  text-align: center;
  margin-top: var(--margin);
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
  font-size: var(--big-font) !important;
}
.product-description * {
  font-weight: normal !important;
  font-style: normal !important;
}
.product-description p:last-child {
  margin-bottom: 0 !important;
}
.product-variants{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.product-variants > li {
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  max-width: 44px;
  max-height: 44px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  margin: 3px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.product-variants > li[selected]{
  border: var(--line);
}
.product-variants > li[disabled]{
  color:rgb(182, 182, 182);
}

.product-variants-item{
  
}

.product-variants-select{
  display: none;
}

.product-form-buttons{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: var(--line);
  margin-bottom: var(--margin);
}
.product-form-buttons button{
  border: 0px;
  border-radius: 0px;
  margin: 0;
  width: 100%;
  
}
.product-form-submit{
  background-color: #fff;
  border-bottom: var(--line) !important;
}
.product-form-view-cart{
  
  background-color: transparent;
  color: #000;
}

#product-unavailable{
  border: var(--line) !important;
}
.product-gallery{
  position: relative;
  background-color: #fff;
  max-width: 100%;  
}


.product-gallery-zoom-wrap{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.product-gallery-zoom-wrap img {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  opacity: 0;
  width: 400%;
  height: auto;
}
.product-gallery-zoom-toggle{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top:0;
  right:0;
  z-index: 20;
  max-height: 20px;
  min-height: 20px;
  cursor: pointer;
  margin: 33px;
  opacity: 1;
  border-radius: 10px;
}

.product-gallery-zoom-toggle img{
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-left: 10px;
}
.product-gallery-zoom-toggle:hover{
  
}
.product-gallery-zoom-toggle[active='true']{
  

}

@media screen and (max-width: 749px) {
  .product-gallery-zoom-wrap, .product-gallery-zoom-toggle {
    display: none !important;
  }
}

.product-gallery-image{
  height: auto;
  width: calc(100% - var(--margin));
  margin-left: calc(var(--margin) / 2);
  object-fit: contain;
  object-position: center center;

}

.swiper-wrapper{
  line-height: 0 !important;
}
.swiper-pagination-bullet{
  background-color: transparent !important;
  border: var(--line);
}
.swiper-pagination-bullet-active{
  background-color: #000 !important;
}

.product-sizes{
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--margin);
}
.product-sizes-wrap{
  overflow-x: auto;
  scrollbar-width: 5px;
  max-width: 100%;
  width: auto;
}
.product-sizes::-webkit-scrollbar { 
  display: none; 
}
.product-sizes-header{
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-family: "Mars Extended Web Regular";
}
.product-sizes > table{
  margin:0 !important;
  width: auto !important;
}
.product-sizes tr:first-child > td {
  text-transform: uppercase;
}

.product-sizes * > td {
  
  border:0;
  white-space: pre;
  width: auto !important;
  height: auto !important;
  line-height: 0 !important;
  vertical-align: bottom !important;
  text-align: center;
}
.product-sizes * > td > p{
  margin: 0 !important;
}

@media screen and (min-width: 750px) {
  .product{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .product-details, .product-gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-gallery {
    flex: 0 0 50%;
    min-width: 50%;
    padding-top: var(--margin);
  }
  .product-details{
    align-items: center;
    border-right: var(--line);
    margin-left: -1px;
    flex: 0 0 100%;
    min-width: 100%;
    min-height: calc(100vh - var(--navbar-height));
  }

  .product-sizes{
    padding-top: var(--margin);
    border-top: var(--line);
    align-items: center;
  }
  .product-sizes * > td {
    padding: 2.5rem !important;
  }
  .product-attributes{
    border: var(--line);
    margin-top:0;
    min-width: 60%;
    max-width: 500px;
  }
  .product-variants{
    margin-bottom: 0;
    max-width: 500px;
  }
  .product-description{
    margin-top: 0;
    flex: 0 0 50%;
    padding: 0;
    width: 100%; 
  }
  .product-info{
    border-top: var(--line);
  }
  .product-description-wrap{
    border-right: var(--line);
    padding: calc(var(--margin));
    flex: 1 1 50%;   
  }
  .product-order-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
  }
  .product-form-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--margin);
  }
  .product-form-buttons{
    margin:0;
    margin-top:var(--outer-margin);
  }
  .product-gallery-image{
    min-height: calc(80vh - var(--navbar-height));
    max-height: calc(80vh - var(--navbar-height));
  }
}

@media screen and (max-width: 749px) {
  .product-wrap{
    flex-direction: column-reverse;
  }

  .product-details-wrap{
    flex: 0 0 100%;
    width: 100%;
  }
  .product-details{
    flex-direction: column;
  }
  .product-attributes {
    margin-top: 0 !important;
    border-bottom: var(--line);
    border-top: var(--line);
  }
  .product-sizes{
    align-items: flex-start;
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);
  }
  .product-sizes * > td {
    padding: calc(var(--outer-margin) / 2) !important;
    text-align: left;
  }
  .product-sizes tr > td:first-child {
    padding-left: 0 !important;
  }
  .product-gallery{
    min-height: calc(50vh - var(--navbar-height));
    max-height: calc(50vh - var(--navbar-height));
    height: calc(50vh - var(--navbar-height));
  }
  .product-gallery-image{
    min-height: calc(50vh - var(--navbar-height));
    max-height: calc(50vh - var(--navbar-height));
    height: calc(50vh - var(--navbar-height));
    object-fit: contain;
  }
  .product-variants{
    margin-bottom: 0;
  }
  .product-form-buttons{
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);
    width: auto;
  }
  .product-info{
    flex-direction: column;
  }
  .product-description{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }
  .product-variants{
    margin-bottom: var(--outer-margin);
  }
  .product-form-buttons{
    margin-bottom: var(--margin);
  }
}

