.page {
  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: var(--outer-margin);

}

.page-content {
  margin-top: ;
  max-width: 550px;
}

.page-content h1 {
  font-size: 1.5rem;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {

  text-transform: uppercase;
  font-weight: normal;
}

@media screen and (max-width: 749px) {
  .page {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }
}

@media screen and (min-width: 750px) {
  .page {
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin) * 2);
  }
}