.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
}

.footer>section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
  
  text-align: center;
  width: 100%;
}

.footer>section:last-child {
  border-bottom: 0px;
}

.footer-about {
  text-align: center;
  padding-bottom: var(--margin) !important;
  padding-top: var(--margin) !important;
}

.footer-header {
  font-weight: bold;
}

.footer-logo {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.footer-logo, .footer-text{
  margin-left: var(--margin);
  margin-right: var(--margin);
  width: auto;
  max-height: 400px;
}
.footer-text {
  font-weight: bold;
}

.footer-newsletter {
  padding-top: var(--margin) !important;
  padding-bottom: var(--margin) !important;
}

.footer-newsletter-signup {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: calc(var(--margin) * 2);
}

.footer-newsletter-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  width: auto;
  white-space: pre;
  border-bottom: 1px solid #000;
  margin-bottom: var(--margin);
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
}

.footer-newsletter-email label {
  flex: 0 0;
  margin-right: 0.5rem;
}

.footer-newsletter-email > input {
  appearance: none;
  background-color: transparent;
  color: #000;
  border: 0px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  flex: 1 1 100%;
  padding-bottom: 0;
  line-height: 1;
  border: 0 !important;
  
}

.footer-newsletter-email > input:focus {
  outline: none !important;
}

.footer-newsletter-button {
  
  width: auto;
  margin-left: var(--margin);
  margin-right: var(--margin);
  display: inline-block;

}

.footer-links {
  padding: 0 !important;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  padding-top: var(--outer-margin);
  padding-bottom: var(--outer-margin);
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}

.footer-links ul li:last-child {
  
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding-top: calc(var(--margin) * 2) !important;
  padding-bottom: var(--outer-margin) !important;
}

@media screen and (max-width: 749px) {
  .footer-links{
    border-bottom: 0 !important;
  }
}
@media screen and (min-width: 750px) {
  .footer{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-about{
    flex: 0 0 calc(50%);
    margin-left: -1px;
    border-right: 1px solid #000; 
    padding-top: var(--outer-margin) !important;
    padding-bottom: var(--outer-margin) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .footer-line{
    display: block;
  }
  .footer-logo {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }
  .footer-newsletter{
    /*flex: 0 0 calc(50% - (var(--outer-margin)*2));*/
    flex: 0 0 calc(50%);
    justify-content: space-between;
    padding: 0 !important;
  }
  .footer-newsletter-signup{
    margin-top: var(--outer-margin);
  }
  .footer-newsletter-email{
    margin-left: var(--margin);
    margin-right: var(--margin);
  }

  .footer-newsletter-button {
    width: auto;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-bottom: var(--outer-margin);
    display: inline-block;
  }

  .footer-links ul{
    display: flex;
    flex-direction: row !important;
    flex: 0 0 100%;
  }
  .footer-links ul li{
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    flex: 1 1 25%;
    margin:0;
    border-bottom: 0px;
    border-right: 1px solid #000;
  }
  .footer-links ul li:last-child{
    border-right: 1px solid transparent;    
  }
  
}
